$mainColor: #3F3F3F;
$buttonColor: #48958B;
$textColor: #F9FAFF;

.column {
    display: flex;
    justify-content: center;

}
.image {
    width: auto !important;
    height: 300px;
}

.title {
    color:$buttonColor
}

.spinner-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
